@import "tailwindcss";

@theme {
  /* Fontes */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);

  /* Cores Cyberpunk / Tech */
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  --color-primary: #00ff9d; /* Verde Neon */
  --color-secondary: #bd00ff; /* Roxo Neon */
  --color-muted: #1a1a1a;
}

/* Reset Básico */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Utilitários Extras */
.text-glow {
  text-shadow: 0 0 20px var(--color-primary);
}